#projects {
    height: 100vh;
    display: flex;
    align-items: center;
}

.projects__wrap {
    width: 100%;
}

.projects__article-wrap {
    position: absolute;
}

.projects__article-list {
    position: relative;
}

.projects__cover-block {
    position: relative;
}

.projects__cover-item {
    transition: .3s;
    position: absolute;
    top: 140px;
}

.projects__question {
    display: flex;
    align-items: center;
}

.projects__question h3 {
    font-style: normal;
    font-weight: bold;
}

.projects__article {
    font-style: normal;
    font-weight: normal;
    color: #C2C2C2;
}

.projects__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__cover-item_not-nested {
    position: relative;
}

.projects__cover__switcher {
    background-color: #151516;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    transition: .3s;
    cursor: pointer;
}

.projects__cover__switcher:hover {
    background-color: #202022;
}

.projects__cover-item_not-nested:before {
    transform: rotate(180deg);
}

.projects__cover__switcher img {
    width: 19px;
}

.projects__cover__switcher_up {
    transform: rotate(180deg);
}

@media (min-width: 1600px) {
    .projects__cover__switcher {
        left: calc(50% - 19.5px);
        width: 39px;
        height: 39px;
    }

    .projects__cover__switcher_up {
        top: 120px;
    }

    .projects__cover__switcher_down {
        bottom: 31px;
    }
}

@media (min-width: 1920px) {
    .projects__cover-item,
    .projects__cover-block {
        width: 787px;
    }

    .projects__cover-block {
        height: 743px;
    }

    .projects__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 85px;
    }

    .projects__info {
        width: 685px;
        height: 714px;
    }

    .projects__question h3 {
        font-size: 44px;
        line-height: 44px;
        margin-left: 40px;
    }

    .projects__question__icon {
        width: 79px;
        height: 79px;
    }

    .projects__article {
        font-size: 22px;
        line-height: 46px;
    }

    .projects__cover-item_nested-deep {
        transform: scale(0.785);
        filter: brightness(0.45);
        transform-origin: top;
        top: 0;
    }
    
    .projects__cover-item_nested-onSurface {
        transform: scale(0.892);
        filter: brightness(0.5);
        z-index: 2;
    }
    
    .projects__cover-item_nested-onSurface_bottom {
        bottom: 0;
        top: unset;
        transform-origin: bottom;
    }

    .projects__cover-item_nested-onSurface_top {
        top: 70px;
        transform-origin: top;
    }

    .projects__cover-item_not-nested {
        bottom: 50px;
        z-index: 4;
    }
}