.projects__wrap {
    width: 100%;
}

.projects__article-list {
    position: relative;
}

.projects__cover-block {
    position: relative;
}

.projects__cover-item {
    transition: .3s;
    position: absolute;
}

.projects__question {
    align-items: center;
}

.projects__info .projects__question {
    display: none;
    transition: .5s;
}

.projects__question h3 {
    font-style: normal;
    font-weight: bold;
}

.projects__article {
    font-style: normal;
    font-weight: normal;
    color: #C2C2C2;
}

.projects__info {
    display: flex;
    justify-content: space-between;
}

.projects__cover__switcher {
    background-color: #151516;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    transition: .3s;
    cursor: pointer;
}

.projects__cover__switcher:hover {
    background-color: #202022;
}

.projects__cover__switcher img {
    width: 19px;
}

.projects__article-wrap {
    position: absolute;
    opacity: 0;
}

.projects__article-wrap_active-fromUp {
    animation: articleFromLeft;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.projects__article-wrap_active-fromBottom {
    animation: articleFromRight;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.projects__question_mobile {
    display: flex;
}

.projects__cover__switcher_left {
    transform: rotate(90deg);
}

.projects__cover__switcher_right {
    transform: rotate(-90deg);
}

@keyframes articleFromLeft {
    0% {
        left: -150px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes articleFromRight {
    0% {
        right: -150px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes articleFromUp {
    0% {
        top: -150px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes articleFromBottom {
    0% {
        bottom: -150px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.projects__cover-item_mobile {
    transform-origin: right;
}

.projects__cover-item_mobile_not-nested {
    left: 0;
}

.projects__cover-item_mobile_second-nested {
    left: 80px;
    z-index: -1;
    transform: scale(0.767);
    filter: brightness(0.5);
}
.projects__cover-item_mobile_third-nested {
    left: 160px;
    z-index: -2;
    transform: scale(0.627);
    filter: brightness(0.5);
}

.projects__cover-item_mobile_fourth-nested {
    left: 240px;
    z-index: -3;
    transform: scale(0.494);
    filter: brightness(0.4);
}

@media (min-width: 768px) {

}

@media (min-width: 1000px) {
    #projects {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .projects__info {
        align-items: center;
    }

    .projects__content {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
    }

    .projects__question_mobile {
        transition: .5s;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    .projects__question h3 {
        font-size: 28px;
        line-height: 24px;
        margin-left: 36px;
    }

    .projects__question__icon {
        width: 62px;
        height: 62px;
    }

    .projects__article {
        font-size: 20px;
        line-height: 42px;
        width: 591px;
    }
    
    .projects__cover-item,
    .projects__cover-block {
        width: 570px;
        height: 399px;
    }

    .projects__cover__switcher {
        width: 39px;
        height: 39px;
    }

    .projects__cover__switcher_right,
    .projects__cover__switcher_left {
        top: 180px;
    }

    .projects__cover__switcher_right {
        right: -19.5px;
    }

    .projects__cover__switcher_left {
        left: -19.5px;
    }

    .project__control-btn-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 174px;
    }

    .project__control-btn-block .action__button {
        width: 100%;
    }

    .next-project__arrow {
        width: 30px;
        height: 14px;
    }

    .projects__article-list {
        width: 591px;
    }
}

@media (min-width: 1000px) and (max-height: 1012px) {
    #projects {
        height: unset;
    }
}

@media (min-width: 1160px) {
    .projects__article-wrap_active-fromUp {
        animation: articleFromUp;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }
    
    .projects__article-wrap_active-fromBottom {
        animation: articleFromBottom;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }

    .projects__cover-item_mobile_not-nested,
    .projects__cover-item_mobile_second-nested,
    .projects__cover-item_mobile_third-nested,
    .projects__cover-item_mobile_fourth-nested {
        left: unset;
        z-index: unset;
        transform: unset;
        filter: unset;
    }

    .projects__cover-item_mobile {
        transform-origin: unset;
    }
    

    .project__control-btn-block .action__button {
        display: none;
    }

    .project__control-btn-block {
        display: block;
        flex-direction: unset;
        justify-content: unset;
        height: unset;
    }

    .projects__cover-item {
        top: 100px;
    }

    .projects__cover__switcher {
        left: calc(50% - 14.5px);
        width: 29px;
        height: 29px;
    }
    
    .projects__cover__switcher_left,
    .projects__cover__switcher_right {
        transform: unset;
        top: unset;
    }

    .projects__cover__switcher_up {
        transform: rotate(180deg);
        top: 85px;
    }

    .projects__cover__switcher_down {
        bottom: 36px;
    }

    .projects__cover-item,
    .projects__cover-block {
        width: 498px;
        height: unset;
    }

    .projects__cover-block {
        height: 499px;
    }

    .projects__content {
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 100px;
        flex-direction: unset;
    }

    .projects__info {
        width: 472px;
        height: 512px;
        flex-direction: column;
        align-items: unset;
    }

    .projects__question_mobile {
        display: none;
    }

    .projects__info .projects__question {
        display: flex;
    }

    .projects__question h3 {
        font-size: 36px;
        line-height: 36px;
        margin-left: 40px;
    }

    .projects__article {
        font-size: 18px;
        line-height: 38px;
        width: unset;
    }

    .projects__article-list {
        width: unset;
    }

    .projects__cover-item_nested {
        transform: scale(0.892);
        filter: brightness(0.5);
    }

    .projects__cover-item_not-nested {
        z-index: 4;
        cursor: pointer;
        width: 498px;
        height: 349px;
    }

    .projects__cover-item_nested_first {
        transform: scale(0.78);
        filter: brightness(0.4);
        top: 0;
        transform-origin: top;
        z-index: -1;
    }

    .projects__cover-item_nested_second {
        top: 50px;
        transform-origin: top;
        z-index: 1;
    }

    .projects__cover-item_nested_last {
        bottom: 0;
        transform-origin: bottom;
        z-index: 1;
    }
}

@media (min-width: 1160px) and (max-height: 792px) {
    #projects {
        height: unset;
    }
}

@media (min-width: 1600px) {
    .projects__cover__switcher {
        left: calc(50% - 19.5px);
        width: 39px;
        height: 39px;
    }

    .projects__cover__switcher_up {
        top: 120px;
    }

    .projects__cover__switcher_down {
        bottom: 51px;
    }

    .projects__cover-item,
    .projects__cover-block {
        width: 687px;
    }

    .projects__cover-block {
        height: 693px;
    }

    .projects__content {
        margin-top: 51px;
    }

    .projects__info {
        width: 605px;
        height: 628px;
    }

    .projects__question h3 {
        font-size: 38px;
        line-height: 38px;
    }

    .projects__question__icon {
        width: 68px;
        height: 68px;
    }

    .projects__article {
        font-size: 20px;
        line-height: 42px;
    }

    .projects__cover-item_not-nested {
        width: 687px;
        height: 483px;
        top: 140px;
    }

    .projects__cover-item_nested_second {
        top: 70px;
    }
}

@media (min-width: 1600px) and (max-height: 822px) {
    #projects {
        height: unset;
    } 
}

@media (min-width: 1920px) {
    .projects__cover-item,
    .projects__cover-block {
        width: 787px;
    }

    .projects__cover__switcher_down {
        bottom: 31px;
    }

    .projects__cover-block {
        height: 743px;
    }

    .projects__content {
        margin-top: 85px;
    }

    .projects__info {
        width: 685px;
        height: 714px;
    }

    .projects__question h3 {
        font-size: 44px;
        line-height: 44px;
    }

    .projects__question__icon {
        width: 79px;
        height: 79px;
    }

    .projects__article {
        font-size: 22px;
        line-height: 46px;
    }

    .projects__cover-item_not-nested {
        width: 787px;
        height: 553px;
    }
}

@media (min-width: 1920px) and (max-height: 927px) {
    #projects {
        height: unset;
    }
}