@media (min-width: 0) {
    .menu-icon {
        position: fixed;
        background: #0A0A0B;
        box-shadow: 0px 15px 21px #100F0F;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 14px;
        right: 30px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        z-index: 9;
    }

    .menu__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 34px;
        height: 20px;
    }

    .menu-icon__line {
        height: 2px;
    }

    .menu-icon__line_long {
        width: 34px;
        background: #fff;
    }

    .menu-icon__line_short {
        width: 24.73px;
        background: #0462F0;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        background: #fff;
        color: #0A0A0B;
        box-sizing: border-box;
        transition: .5s cubic-bezier(0.06, 0.91, 0.78, 1);
        z-index: 20;
        padding-left: 29px;
        padding-top: 24px;
        padding-right: 30px;
    }

    .menu_active {
        left: 0;
    }

    .menu__title {
        font-family: Righteous;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 20px;
    }

    .menu__title_marked-letter {
        color: #dd0f01;
    }

    .menu__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
    }

    .menu__close__line {
        transform-origin: center;
        position: absolute;
        width: 19.66px;
        height: 2.5px;
    }

    .menu__close__line_black {
        transform: rotate(45deg);
        background: #0A0A0B;
    }

    .menu__close__line_blue {
        transform: rotate(-45deg);
        background: #0462F0;
    }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu__navigation {
        margin-top: 61px;
    }

    .navigation__link {
        display: flex;
        width: fit-content;
        font-style: normal;
        font-weight: 900;
        position: relative;
        font-size: 32px;
        line-height: 31px;
        color: #0A0A0B;
        margin-top: 23px;
        overflow: hidden;
    }

    .navigation__link:before {
        content: "";
        position: absolute;
        height: 33%;
        bottom: 4px;
        z-index: -1;
        transition: .3s cubic-bezier(0, 1.12, 1, 1);
    }

    .navigation__link:first-child:before {
        width: 0;
        background: #FF4242;
    }

    .navigation__link:first-child:hover:before {
        width: 63%;
    }

    .navigation__link:nth-child(2):before {
        width: 49%;
        background: #FFA7A7;
        right: -200vw;
    }

    .navigation__link:nth-child(2):hover:before {
        right: 8px;
    }

    .navigation__link:nth-child(3):before {
        width: 0;
        background: #FEB700;
    }

    .navigation__link:nth-child(3):hover:before {
        width: 100%;
    }

    .navigation__link:first-child {
        margin-top: 0;
    }

    .menu__sociable-net {
        display: flex;
        justify-content: space-between;
        margin-top: 85.39px;
        width: 95px;
    }

    .menu__sociable-net__link img {
        width: 100%;
        height: 100%;
    }

    .menu__sociable-net__link {
        display: block;
        width: 42px;
        height: 42px;
    }

    .menu__contacts {
        color: #757575;
        margin-top: 84.61px;
    }

    .menu__contacts-info {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        margin-top: 7px;
    }

    .menu__contacts-info:first-child {
        margin-top: unset;
    }

    .menu__copyright {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        margin-top: 28px;
    }

}

@media (min-width: 480px) {
    .menu-icon {
        top: 27px;
    }

    .menu__title {
        font-size: 23px;
        line-height: 20px;
    }

    .menu__navigation {
        margin-top: 33px;
    }

    .navigation__link {
        font-size: 30px;
        line-height: 29px;
        margin-top: 25px;
    }

    .menu__sociable-net {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 78px;
        width: unset;
    }

    .menu__sociable-net__link {
        width: 34px;
        height: 34px;
    }

    .menu__contacts {
        margin-top: 33px;
    }

    .menu__footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (min-width: 768px) {
    .menu-icon {
        top: 19px;
        right: 40px;
        width: 62px;
        height: 62px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 34px;
    }

    .menu__title {
        font-size: 48px;
        line-height: 42px;
    }

    .navigation__link {
        font-size: 87px;
        line-height: 85px;
        margin-top: 29px;
    }

    .menu__sociable-net {
        height: 122px;
        align-items: flex-start;
    }

    .menu__sociable-net__link {
        width: 53px;
        height: 53px;
    }

    .menu__contacts {
        margin-top: unset;
    }

    .menu__contacts-info {
        font-size: 22px;
        line-height: 30px;
    }

    .menu__copyright {
        font-size: 19px;
        line-height: 26px;
    }

    .menu__close__line {
        width: 32.3px;
    }

    .menu__close {
        width: 23px;
        height: 23px;
    }

}

@media (min-width: 1000px) {
    .menu-icon {
        top: 18px;
        right: 41px;
    }
}

@media (min-width: 1160px) {
    .menu__wrap {
        align-items: flex-start;
        width: 44px;
        height: 22px;
    }

    .menu-icon {
        top: 36px;
        left: 60px;
        right: unset;
        border-radius: 50%;
        width: 68px;
        height: 68px;
    }

    .menu-icon__line_long {
        width: 44px;
    }

    .menu-icon__line_short {
        width: 32px;
    }

    .menu {
        width: 950px;
    }
}

@media (min-width: 1920px) {
    .menu-icon {
        top: 30px;
        left: 124px;
        border-radius: 50%;
        width: 79px;
        height: 79px;
    }
}