#action {
    display: flex;
}

.action__title {
    font-style: normal;
    font-weight: 900;
}

.chat__element {
    display: flex;
    align-items: center;
}

.chat__message {
    font-style: normal;
    font-weight: normal;
    color: #C2C2C2;
    align-self: center;
}

.chat__element:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
}

.action__button {
    background: linear-gradient(90.88deg,  #151516 3.89%, #202022 49.81%, #202022 53.7%, #151516 99.81%);
    background-size: 200% auto;
    background-position: right center;
    transition: .3s;
    font-style: normal;
    font-weight: normal;
    color: #C2C2C2;
}

.action__button:hover {
    background-position: left;
}

.action__social {
    width: 138px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.action__social_1160 {
    display: none;
}

.action__social-link-wrap {
    display: none;
}

@media (min-width: 0px) {
    .action__title_320 {
        width: 100%;
        margin-left: auto;
    }

    .action__wrap {
        width: 100%;
    }

    .chat__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 601px;
        margin-top: 5px;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 15px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 15px;
    }

    .chat__avatar {
        width: 38px;
        height: 38px;
    }

    .action__social_1160 {
        display: flex;
        width: 138px;
        justify-content: space-between;
    }

    .chat__message {
        font-size: 12px;
        line-height: 17px;
        max-width: 202px;
    }

    .action__btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        height: 561px;
        align-items: center;
    }

    .action__title {
        display: none;
    }

    .action__social-link {
        display: block;
        width: 59px;
        height: 59px;
    }

    .action__button {
        font-size: 16px;
        line-height: 34px;
        width: 100%;
        height: 70px;
        border-radius: 59px;
    }

    .action__variants {
        display: flex;
        flex-direction: column;
        height: 339px;
        justify-content: space-between;
        width: 100%;
    }

    .action__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 160px;
    }

    .chat__gradient {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0A0A0B 0%, rgba(10, 10, 11, 0) 58.33%, rgba(10, 10, 11, 0) 100%);
    }

    .action__submit-bid {
        width: 100%;
    }
}

@media (min-width: 480px) {
    .action__social_1160 {
        display: none;
    }

    .action__title_320 {
        width: 394px;
    }

    .chat__block {
        height: 600px;
        margin-top: 14px;
    }

    .action__btns {
        margin-top: 50px;
        height: 233px;
        align-items: unset;
    }

    .action__social-link-wrap {
        display: flex;
        justify-content: space-between;
        width: 103.17px;
    }

    .action__social-link {
        width: 45px;
        height: 45px;
    }

    .action__button {
        font-size: 12px;
        line-height: 25px;
        width: 200px;
        height: 53px;
    }

    .action__variants {
        height: 131px;
        width: unset;
    }

    .action__column {
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        width: 420px;
    }

    .action__submit-bid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: unset;
    }

}

@media (min-width: 768px) {
    .action__title_320 {
        width: 550.9px;
    }

    .chat__block {
        height: 592px;
        margin-top: 6px;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 12.11px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 12.11px;
    }

    .chat__avatar {
        width: 45px;
        height: 45px;
    }

    .chat__message {
        font-size: 17px;
        line-height: 25px;
        max-width: 452px;
    }

    .action__btns {
        margin-top: 53px;
        height: 291px;
    }

    .action__social-link-wrap {
        width: 138px;
    }

    .action__social-link {
        width: 59px;
        height: 59px;
    }

    .action__button {
        font-size: 20px;
        line-height: 42px;
        width: 315px;
        height: 70px;
    }

    .action__variants {
        height: 169px;
    }

    .action__column {
        width: 687px;
    }
}

@media (min-width: 1000px) {
    .chat__block {
        height: 594px;
        margin-top: 9px;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 13.1px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 13.1px;
    }

    .action__social-link-wrap {
        width: 137px;
    }

    .action__button {
        font-size: 17px;
        line-height: 36px;
        width: 265px;
    }

    .action__btns {
        flex-direction: row-reverse;
        justify-content: space-between;
        height: unset;
    }

    .action__variants {
        height: 170px;
    }

    .action__column {
        width: 558px;
    }

    .action__submit-bid {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

}

@media (min-width: 1160px) {
    .action__title_320 {
        display: none;
    }
    
    #action {
        height: 100vh;
        align-items: center;
    }

    .action__submit-bid {
        display: block;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
    }

    .action__title {
        display: block;
        position: absolute;
        width: 551px;
        top: -205px;
    }

    .action__wrap {
        display: flex;
        max-height: 805px;
        min-height: 805px;
        align-items: flex-end;
        justify-content: space-between;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 15px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 15px;
    }

    .chat__block {
        min-width: 598px;
        height: 744px;
        margin-top: unset;
    }

    .action__social-link {
        width: 52px;
        height: 52px;
    }

    .action__button {
        font-size: 18px;
        line-height: 38px;
        width: 290px;
        height: 69px;
    }

    .action__btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        height: 590px;
        margin-top: unset;
    }

    .action__variants {
        height: 366px;
    }

    .action__column {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 168px;
        width: unset;
    }

    .action__social-link-wrap {
        display: none;
    }

    .action__social_1160 {
        display: flex;
        width: 118.86px;
        justify-content: space-between;
    }
}

@media (min-width: 1160px) and (max-height: 805px) {
    #action {
        height: unset;
    }
}

@media (min-width: 1600px) {
    .action__social-link-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action__title_1160 {
        display: none;
    }

    .action__title {
        display: block;
        position: unset;
        width: unset;
        top: unset;
    }

    .action__btns {
        position: unset;
        height: unset;
    }

    .action__wrap {
        max-height: 799px;
        min-height: 799px;
        align-items: unset;
        width: unset;
        justify-content: unset;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 13.3px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 13.3px;
    }

    .chat__message {
        font-size: 18px;
        line-height: 27px;
        max-width: 459px;
    }

    .chat__block {
        min-width: 676px;
        height: unset;
    }

    .action__social-link {
        width: 70px;
        height: 70px;
    }

    .action__button {
        font-size: 20px;
        line-height: 32px;
        width: 327px;
        height: 79px;
    }

    .action__submit-bid {
        display: flex;
        width: 605px;
        justify-content: space-between;
    }

    .action__social-link-wrap {
        display: flex;
        width: 160px;
    }

    .action__variants {
        height: 198px;
    }

    .action__column {
        width: 704px;
        height: unset;
        justify-content: space-between;
        flex-direction: unset;
    }

    .action__social_1160 {
        display: none;
    }
}

@media (min-width: 1600px) and (max-height: 799px) {
    #action {
        height: unset;
    }
}

@media (min-width: 1920px) {
    .action__wrap {
        max-height: 813px;
        min-height: 813px;
    }

    .chat__element:nth-child(odd) .chat__avatar {
        margin-left: 15px;
    }
    
    .chat__element:nth-child(even) .chat__avatar {
        margin-right: 15px;
    }

    .chat__avatar {
        width: 52px;
        height: 52px;
    }

    .chat__message {
        max-width: 393px;
    }

    .chat__block {
        min-width: 685px;
        padding-bottom: 15px;
    }

    .action__social-link {
        width: 83px;
        height: 83px;
    }

    .action__button {
        width: 358px;
        height: 87px;
        font-size: 22px;
        line-height: 46px;
    }

    .action__submit-bid {
        width: 683px;
    }

    .action__social-link-wrap {
        width: 186px;
    }

    .action__variants {
        height: 219px;
    }

    .action__column {
        width: 761px;
    }
}

@media (min-width: 1920px) and (max-height: 813px) {
    #action {
        height: unset;
    }
}