.services__icon img {
    width: 100%;
    height: 100%;
}

.services__subparagraph-title {
    font-style: normal;
    font-weight: 300;
}

.services__subparagraph-title span {
    transition: .5s;
}

.subparagraph-title--smm:hover span:first-child {
    color: #BD00FF;
}

.subparagraph-title--design:hover span:first-child {
    color: #00C2FF;
}

.subparagraph-title--content:hover span:first-child {
    color: #DD5000;
}

.services__title {
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    transition: .3s;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.services__titles-block {
    display: flex; 
    justify-content: center;
    height: 66px;    
}

.services__title span {
    transition: .3s;
}

.services__title_active {
    color: #FFFFFF !important;
}

.services__block-item_active .services__item-header {
    margin-left: 0;
}

.services__block-item_active .services__subparagraph-title {
    color: inherit;
}

.services__block-item_active .services__icon {
    opacity: 1;
}

.services__block-item_active .services__article {
    opacity: 1;
    right: 0;
    max-height: 1000px;
    margin-top: 25px;
}

.services__article {
    color: #C2C2C2;
    transition: .5s;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.services__block_smm {
    color: #BD00FF;
}

.services__block_design {
    color: #00C2FF;
}

.services__block_content {
    color: #DD5000;
}

.services__item-header {
    cursor: pointer;
    transition: .3s;
}

.services__screen {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.services__block {
    display: none;
    transition: .3s;
    opacity: 0;
    z-index: 0;
    width: 100%;
}

.services__block_active {
    display: block;
    opacity: 1;
    z-index: 5;
}

.services__article-height-control {
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.services__article-height-control__collapse {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.services__article-height-control__collapse img {
    transform: rotate(180deg);
}

.services__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 34px;
}

.services__pagination-item {
    width: 8px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    margin-right: 4px;
}

.services__pagination-item_active {
    width: 11px;
    height: 4px;
    border-radius: 35px;
}

.services__pagination-item:last-child {
    margin-right: unset;
}

.services__wrap {
    width: 100%;
    overflow: hidden;
}

.services__title .smm-letter {
    color: #BD00FF;
}

.services__title .design-letter {
    color: #00C2FF;
}

.services__title .content-letter {
    color: #DD5000;
}

.services__pagination {
    display: flex;
}

.services__item-header {
    display: flex;
    align-items: center;
}

.services__block__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__block-item {
    margin-top: 40px;
}

.services__block-item:first-child {
    margin-top: unset;
}

@media (min-width: 0px) {
    .services__title {
        font-size: 50px;
        line-height: 50px;
    }

    .services__title_active {
        opacity: 1;
    }

    .services__titles-block {
        height: 50px;    
    }

    .services__article {
        font-size: 14px;
        line-height: 27px;
    }

    .services__icon {
        width: 50px;
        height: 50px;
    }
    
    .services__subparagraph-title {
        font-size: 18px;
        line-height: 18px;
    }

    .services__control {
        margin-left: 20px;
    }

    .services__screen {
        margin-top: 40px;
    }

    .services__article-height-control {
        font-size: 14px;
        line-height: 14px;
    }

    .services__article-height-control img {
        margin-left: 6px;
        width: 9px;
    }
}

@media (min-width: 480px) {
    .services__subparagraph-title {
        font-size: 20px;
        line-height: 17px;
    }

    .services__control {
        margin-left: 23px;
    }
}

@media (min-width: 768px) {
    .services__article-height-control {
        font-size: 18px;
        line-height: 15px;
    }

    .services__article-height-control img {
        margin-left: 6px;
        width: 13px;
    }

    .services__title {
        font-size: 66px;
        line-height: 66px;
    }

    .services__titles-block {
        height: 66px;    
    }

    .services__article {
        font-size: 20px;
        line-height: 42px;
    }

    .services__icon {
        width: 65px;
        height: 65px;
    }

    .services__subparagraph-title {
        font-size: 28px;
        line-height: 24px;
    }

    .services__control {
        margin-left: 15px;
    }

    .services__screen {
        margin-top: 51px;
    }
}

@media (min-width: 1000px) {
    #services {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .services__article-height-control {
        display: none;
    }

    .services__wrap {
        width: 100%;
        overflow: unset;
    }

    .services__title {
        line-height: 56px;
        color: rgba(255, 255, 255, 0.19);
        width: unset;
        position: unset;
        left: unset;
        text-align: unset;
        transform: unset;
        transition: unset;
        opacity: unset;
    }

    .services__title_active {
        transform: unset;
        opacity: unset;
    }

    .services__title .smm-letter {
        color: inherit;
    }
    
    .services__title .design-letter {
        color: inherit;
    }
    
    .services__title .content-letter {
        color: inherit;
    }

    .services__title:hover .smm-letter {
        color: #BD00FF;
    }
    
    .services__title:hover .design-letter {
        color: #00C2FF;
    }
    
    .services__title:hover .content-letter {
        color: #DD5000;
    }
    
    .services__title_active .smm-letter {
        color: #BD00FF;
    }
    
    .services__title_active .design-letter {
        color: #00C2FF;
    }
    
    .services__title_active .content-letter {
        color: #DD5000;
    }


    .services__titles-block {
        display: flex;
        justify-content: space-between;
        height: unset;
    }

    .services__block-item {
        margin-top: unset;
    }

    .services__pagination {
        display: none;
    }

    .services__article {
        position: absolute;
        top: 0;
        right: 200px;
        font-size: 18px;
        line-height: 38px;
        width: 470px;
        color: #C2C2C2;
        opacity: 0;
        max-height: unset;
        overflow: unset;
        margin-top: unset;
    }

    .services__icon {
        opacity: 0;
        transition: .3s;
        width: 60px;
        height: 60px;
    }

    .services__subparagraph-title {
        font-style: normal;
        font-weight: 300;
        color: #fff;
        transition: .3s;
        position: relative;
        font-size: 26px;
        line-height: 22px;
    }

    .services__item-header {
        margin-left: -78px;
    }

    .services__item-header_active {
        margin-left: unset;
    }

    .services__block-item_active .services__subparagraph-title {
        font-size: 28px;
        line-height: 24px;
    }

    .services__block-item_active .services__article {
        max-height: unset;
        transition: .5s;
        margin-top: unset;
    }

    .services__article {
        transition: unset;
    }

    .services__control {
        margin-left: 18px;
    }

    .services__block-item {
        display: flex;
        align-items: flex-start;
    }

    .services__block__wrap {
        position: relative;
        justify-content: space-between;
        height: 418px;
    }

    .services__screen {
        margin-top: 110px;
        min-height: 380px;
        flex-direction: unset; 
        position: relative;
    }

    .services__block { 
        display: block;
        position: absolute;
    }
}

@media (min-width: 1160px) {
    .services__title {
        font-size: 72px;
        line-height: 72px;
    }

    .services__article {
        width: 490px;
    }

    .services__icon {
        width: 68px;
        height: 68px;
    }

    .services__subparagraph-title {
        font-size: 34px;
        line-height: 34px;
    }

    .services__item-header {
        display: flex;
        align-items: center;
        margin-left: -88px;
    }

    .services__item-header_active {
        margin-left: unset;
    }

    .services__block-item_active .services__subparagraph-title {
        font-size: 40px;
        line-height: 40px;
    }

    .services__control {
        margin-left: 20px;
    }

    .services__screen {
        margin-top: 100px;
    }
}

@media (min-width: 1600px) {
    .services__title {
        font-size: 100px;
        line-height: 100px;
    }

    .services__article {
        font-size: 20px;
        line-height: 42px;
        width: 686px;
    }

    .services__icon {
        width: 86px;
        height: 86px;
    }

    .services__subparagraph-title {
        font-size: 44px;
        line-height: 44px;
    }

    .services__item-header {
        margin-left: -125px;
    }

    .services__block-item_active .services__subparagraph-title {
        font-size: 52px;
        line-height: 52px;
    }

    .services__control {
        margin-left: 40px;
    }

    .services__block__wrap {
        height: 486px;
    }

    .services__screen {
        margin-top: 115px;
    }
}

@media (min-width: 1920px) {
    .services__block-item_active .services__subparagraph-title {
        font-size: 64px;
        line-height: 54px;
    }

    .services__item-header {
        margin-left: -140px;
    }

    .services__title {
        font-size: 110px;
        line-height: 94px;
    }

    .services__article {
        font-size: 22px;
        line-height: 46px;
        width: 685px;
    }

    .services__icon {
        width: 100px;
        height: 100px;
    }

    .services__subparagraph-title {
        font-size: 48px;
        line-height: 48px;
    }

    .services__block__wrap {
        height: 520px;
    }

    .services__screen {
        margin-top: 130px;
    }
}